body{
	margin:0;
	padding: 0;
	background-image: url('loginbg.jpg');
	background-size: cover;
	/*background-color: rgba(0,0,0,0.8);*/
}
.navbar{
	margin-top: 0;
	padding: 0;
	/*height: 20vh;*/
	/*height: 100%;*/
	/*margin: 0;*/
	background-color: rgba(0,0,0,0.5);
	/*border:2px solid #32139b69;*/
}
ul{
	margin: 0;
}
li{
	/*margin-top: 0;*/
	/*animation: bounceIn 1s ease-in;*/
	margin: 0;

	display: inline-block;
	font-family: Candara;
	font-size: 120%;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	/*background-color: rgba(0,0,0,0.8);*/
}

li:hover{
	/*box-shadow: rgba(255,255,255,0.5);*/
	/*transform: scale(1.1);*/
	/*transition: all 0.5s;*/
	/*animation: bounceIn 1s ease-in;*/
	background-color: #01ff87;
	color: black;
	/*transform: scale3d(1.1,1.1,1.1);*/

}

.loginbox{
	width: 280px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-family: sans-serif;
	animation: lightSpeedIn 0.5s ease-in;

	/*margin-bottom: 30px;*/
	/*padding: 13px 0;*/
}

.loginbox h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #01ff87;
	margin-bottom: 50px;
	padding: 13px 0;
	/*animation: zoomIn 0.5s ease-in;*/
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 15px 0;
	margin: 8px 0;
	border-bottom: 1.3px solid #01ff87;
}
.textbox img{
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	padding-right: 2px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.textbox input{
	border:none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 5px;
}

.btn{
	width: 100%;
	background:none;
	border:2px solid #01ff87;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 15px 0;
}
.btn:hover{
	background-color: #01ff87;
	color:black;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
 }
 .a1{
 	color: white;
 	margin-left: 10%;
 }